<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>934279583744-pskmi8abd19bdhp63et8882gi97dg3ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934279583744-pskmi8abd19bdhp63et8882gi97dg3ta</string>
	<key>API_KEY</key>
	<string>AIzaSyCDOL9BBkevw-FCN0RUYF4xRHdfxVV8Ep8</string>
	<key>GCM_SENDER_ID</key>
	<string>934279583744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MCLAB.ParkingAdvisor</string>
	<key>PROJECT_ID</key>
	<string>parkingadvisor-1491802534028</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingadvisor-1491802534028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934279583744:ios:74f4ef4250268652</string>
	<key>DATABASE_URL</key>
	<string>https://parkingadvisor-1491802534028.firebaseio.com</string>
</dict>
</plist>